{{ define "header" }} {{ partial "common/header" . }} {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
<input type="checkbox" class="hidden" id="toc-control" />
<aside class="hidden clearfix">
  {{ template "toc" . }}
</aside>
{{ end }} {{ end }} {{ define "footer" }} {{ partial "common/footer" . }} {{ end }} {{ define "install" }} {{ partial "landing/install-section" . }} {{ end }}
{{ define "uses" }} {{ partial "landing/uses-section" . }} {{ end }} {{ define "join" }} {{ partial "landing/join-section" . }} {{ end }}

<body class="home-page">
  <!-- main container of all the page elements -->
  <div id="wrapper">
    {{ template "header" . }}
    <!-- contain main informative part of the site -->
    <main id="main">
      <!-- intro section -->
      <section class="intro-section">
        <img class="decor-bg hide" src="svg/bg-img-01.svg" alt="image description" />
        <div class="container">
          <div class="row">
            <div class="text-holder">
              <div class="text-block">
                <h1>eBPF for Everyone</h1>
                <p>ingraind is an security monitoring agent for cloud native environments. Designed for high performance, easy extensibility.</p>
                <p>Built on eBPF and Rust for no compromises.</p>

                <a href="/docs/getting-started" class="btn">Get started</a>
              </div>
              <!-- interaction block -->
              <div class="interaction-block">
                <div class="heading-holder"></div>
                <span class="decor-line"></span>
                <ul class="interaction-list">
                  <li>
										<a
											class="github-button"
											href="https://github.com/redsift/ingraind/subscription"
											data-icon="octicon-eye"
											data-color-scheme="dark: dark"
											data-size="large"
											data-show-count="true"
											aria-label="Watch redsift/ingraind on GitHub"
											>Watch</a
                >
                  </li>
                  <li>
                    <a
											class="github-button"
											href="https://github.com/redsift/ingraind"
											data-icon="octicon-star"
											data-color-scheme="dark: dark"
											data-size="large"
											data-show-count="true"
											aria-label="Star redsift/ingraind on GitHub"
											>Star</a
										>
                  </li>
                  <li>
                    <a
											class="github-button"
											href="https://github.com/redsift/ingraind/fork"
											data-icon="octicon-repo-forked"
											data-color-scheme="dark: dark"
											data-size="large"
											data-show-count="true"
											aria-label="Fork redsift/ingraind on GitHub"
											>Fork</a
										>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-holder hide">
              <div class="screen-block">
                <img src="img-screen-01.jpg" alt="image description" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- advantages block -->
      <div class="advantages-block">
        <div class="container">
          <ul class="advantages-list">
            <li>
              <img src="svg/secure.svg" alt="image description" />
              <h2 class="h3">Secure &amp; Safe</h2>
              <p>
                Both eBPF and Rust are designed for safe execution and protection against memory corruption vulnerabilities. With InGRAIN even you can write
                safe and secure modules that will never ruin your system.
              </p>
            </li>
            <li>
              <img src="svg/customize.svg" alt="image description" />
              <h2 class="h3">Customize as you Wish</h2>
              <p>
                Instead of treating the core of the system as black magic, InGRAINd provides easy to understand documentation for a variety of eBPF
                functionality, so you can extend and improve the data you rely on.
              </p>
            </li>
            <li>
              <img src="svg/clock.svg" alt="image description" />
              <h2 class="h3">Designed for Real Life</h2>
              <p>
                Because your time is your most expensive asset, we designed InGRAINd to make deployment easy and frictionless for monitoring VMs and containers.
                Kubernetes, GCP, AWS, Arm64, choose your own buzzword.
              </p>
            </li>
          </ul>
        </div>
      </div>
      {{ template "install" . }} {{ template "uses" . }}
      <!-- integration section -->
      <section class="integration-section">
        <img class="decor-bg" src="svg/bg-img-03.svg" alt="image description" />
        <div class="container">
          <div class="heading-holder">
            <h1>Integrated with</h1>
            <span class="decor-line"></span>
          </div>
          <ul class="integration-list">
            <li>
              <div class="logo-holder">
                <img src="svg/logo-aws.svg" alt="aws" width="70" />
              </div>
            </li>
            <li>
              <div class="logo-holder">
                <img src="svg/logo-open-shift.svg" alt="openshift" width="65" />
              </div>
            </li>
            <li>
              <div class="logo-holder">
                <img src="svg/logo-terraform.svg" alt="kubernetes engine" width="60" />
              </div>
            </li>
            <li>
              <div class="logo-holder">
                <img src="svg/logo-kubernetes.svg" alt="kubernetes" width="64" />
              </div>
            </li>
            <li>
              <div class="logo-holder">
                <img src="svg/logo-statsD.svg" alt="StatsD" width="120" />
              </div>
            </li>
            <li>
              <div class="logo-holder">
                <img src="svg/logo-ansible.svg" alt="ansible" width="62" />
              </div>
            </li>
          </ul>
        </div>
      </section>
      {{ template "join" . }}
    </main>
    {{ template "footer" . }}
  </div>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
