{{ define "header" }} {{ partial "common/header" . }} {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
<input type="checkbox" class="hidden" id="toc-control" />
<aside class="hidden clearfix">
  {{ template "toc" . }}
</aside>
{{ end }} {{ end }}
{{ define "intro" }} {{ partial "landing/intro-section" . }} {{ end }}
{{ define "advantages" }} {{ partial "landing/advantages-block" . }} {{ end }}
{{ define "install" }} {{ partial "landing/install-section" . }} {{ end }}
{{ define "uses" }} {{ partial "landing/uses-section" . }} {{ end }}
{{ define "integration" }} {{ partial "landing/integration-section" . }} {{ end }}
{{ define "join" }} {{ partial "landing/join-section" . }} {{ end }}
{{ define "about" }} {{ partial "landing/about-section" . }} {{ end }}
{{ define "footer" }} {{ partial "common/footer" . }} {{ end }}

<body class="home-page">
  <!-- main container of all the page elements -->
  <div id="wrapper">
    {{ template "header" . }}
    <!-- contain main informative part of the site -->
    <main id="main">
      <!-- intro section -->
      {{ template "intro" . }}
      <!-- advantages block -->
      {{ template "advantages" . }}
      <!-- install section (carousel) -->
      {{ template "install" . }}
      <!-- uses section (accordion) -->
      {{ template "uses" . }}
      <!-- integration section -->
      {{ template "integration" . }}
      <!-- join section -->
      {{ template "join" . }}
      <!-- about section -->
      {{ template "about" . }}
    </main>
    {{ template "footer" . }}
  </div>
</body>
