body {
	#main {
		padding-top: 63px;
		@include media ('>=tablet') {
			padding-top: 72px;
		}
	}
	// home page specific
	&.home-page {
		color: $light-purple;
		background: $dark-blue;

		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			color: $white;
		}
	}
}

/* common site styles */
#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1130px;
	padding: 0 32px;
	margin: 0 auto;

	&.inner-container {
		max-width: 1290px;
		position: relative;

		@include media ('>=tablet') {
			display: flex;
		}
	}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
}

h1, .h1 {
	font-weight: 900;
	letter-spacing: 1.5px;

	@include media ('>=desktop') {
		font-size: 32px;
		letter-spacing: 2px;
	}
}

a {
	@include animate(color);
	font-weight: 600;
	text-decoration: none;
	&:hover {
		color: darken($light-blue, 15%);
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	vertical-align: middle;
	min-width: 151px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 12px 15px;
	color: $white;
	background: $light-blue;
	border-radius: 3px;

	&:hover {
		color: $white;
		background: darken($light-blue, 15%);
	}

	&.cta {
		i {
			margin-right: 8px;
		}
		&:active,
		&:focus {
			border-color: $light-blue;
		}
	}

	&.cta-orange {
		color: $black;
		background: $orange;
		i {
			margin-right: 8px;
		}
		&:hover {
			color: $black;
			background: darken($orange, 15%);
		}
		&:active,
		&:focus {
			border-color: lighten($orange, 15%);;
		}
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='password'],
input[type='number'] {
	@include animate(border-color);

	height: 40px;
	font-size: 14px;
	font-weight: 500;
	padding: 5px 15px;
	background: $white;
	border: 2px solid #ebedf4;

	@include placeholder {
		color: $black;
	}

	&::-ms-clear {
		display: none;
	}

	&:focus {
		border-color: $light-blue;
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='submit'],
a,
button {
	&:focus {
		outline: none;
	}
}

code {
	display: inline-block;
	vertical-align: baseline;
	font-family: $base-font-monosnape;
	font-weight: 500;
	line-height: 1.75;
	padding: 0 0.125rem;
	margin: 0.125rem 0;
	background: $light-gray;
	border-radius: 0.25rem;

	&.type {
		font-weight: 600;
	}

}

pre > code {
	display: block;
	line-height: 1.6;
	padding: 16px 17px;
	margin-bottom: 1.5em;
}

.hide {
	display: none;
	@include media ('>=tablet') {
		display: block;
	}
}
.mobile-open .hide {
	display: block;
}


// blue line
.decor-line {
	display: inline-block;
	vertical-align: top;
	height: 16px;
	width: 100%;
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background: $light-blue;
	}

	&:before {
		height: 2px;
		left: -9999px;
	}

	&:after {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		overflow: hidden;
	}
}

// 'sankey' background swirl
.decor-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	pointer-events: none;
}

.screen-block {
	@extend %grey-border-block;
}

nav#TableOfContents > ul {
	@extend %listreset;
}
nav.nav-holder ul {
	@extend %listreset;
	.no-results {
		margin-top: 5px;
		color: orangered;
	}
}

.accessibility{
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		display: block;
		text-align: right;
		position: static;
		width: auto;
		height: auto;
	}
}

.hidden {
	position: absolute;
	left: -9999px;
	opacity: 0;
}
