body {

	#main {
		padding-top: 63px;
		@include media ('>=tablet') {
			padding-top: 72px;
		}
	}

	/* home page common styles */
	&.home-page {
		color: $light-purple;
		background: $dark-blue;

		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			color: $white;
		}
	}

	/* documentation page - fixed block styles */
	&.fixed-position {
		.fixed-block {
			@include media ('>=tablet') {
				position: fixed;
				max-height: 100vh;
			}
		}

		.sidebar {
			.fixed-block {
				@include media ('>=tablet') {
					width: 180px;
					top: 0;
					left: 30px;
					margin: 0;
				}

				@include media ('>=widescreen') {
					width: 262px;
				}

				@include media ('>=fullscreen') {
					left: calc((100vw - 1230px)/2);
				}
			}

			.nav-holder > ul {
				&.hide {
					display: none;
				}
				@include media ('>=tablet') {
					max-height: calc(100vh - 230px - 80px);
					overflow-y: auto;
					padding-right: 15px;
				}

				@include media ('>=widescreen') {
					max-height: calc(100vh - 255px - 80px);
				}
			}
		}

		.aside {
			.fixed-block {
				@include media ('>=tablet') {
					width: 110px;
					top: 77px;
					right: 30px;
					overflow-y: auto;
				}

				@include media ('>=widescreen') {
					width: 160px;
				}

				@include media ('>=fullscreen') {
					right: calc((100vw - 1230px)/2);
				}
			}
		}
	}
}

/* common site styles */
#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1130px;
	padding: 0 32px;
	margin: 0 auto;

	&.inner-container {
		max-width: 1290px;
		position: relative;

		@include media ('>=tablet') {
			display: flex;
		}
	}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
}

h1, .h1 {
	font-weight: 900;
	letter-spacing: 1.5px;

	@include media ('>=desktop') {
		font-size: 32px;
		letter-spacing: 2px;
	}
}

a {
	@include animate(color);
	font-weight: 600;
	text-decoration: none;
	&:hover {
		color: darken($light-blue, 15%);
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	vertical-align: middle;
	min-width: 151px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 12px 15px;
	color: $white;
	background: $light-blue;
	border-radius: 3px;

	&:hover {
		color: $white;
		background: darken($light-blue, 15%);
	}

	&.cta {
		i {
			margin-right: 8px;
		}
		&:active,
		&:focus {
			border-color: $light-blue;
		}
	}

	&.cta-orange {
		color: $black;
		background: $orange;
		i {
			margin-right: 8px;
		}
		&:hover {
			color: $black;
			background: darken($orange, 15%);
		}
		&:active,
		&:focus {
			border-color: lighten($orange, 15%);;
		}
	}
}

// https://github.com/ntkme/github-buttons
.interaction-list span {
	height: 30px;
	display: inline-block;
	border: 1px solid $light-purple;
	border-radius: 3px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='password'],
input[type='number'] {
	@include animate(border-color);

	height: 40px;
	font-size: 14px;
	font-weight: 500;
	padding: 5px 15px;
	background: $white;
	border: 2px solid #ebedf4;

	@include placeholder {
		color: $black;
	}

	&::-ms-clear {
		display: none;
	}

	&:focus {
		border-color: $light-blue;
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='submit'],
a,
button {
	&:focus {
		outline: none;
	}
}

code {
	display: inline-block;
	vertical-align: baseline;
	font-family: $base-font-monosnape;
	font-weight: 500;
	line-height: 1.75;
	padding: 0 0.125rem;
	margin: 0.125rem 0;
	background: $light-gray;
	border-radius: 0.25rem;

	&.type {
		font-weight: 600;
	}

}

pre > code {
	display: block;
	line-height: 1.6;
	padding: 16px 17px;
	margin-bottom: 1.5em;
}

.hide {
	display: none;
	@include media ('>=tablet') {
		display: block;
	}
}
.mobile-open .hide {
	display: block;
}

.decor-line {
	display: inline-block;
	vertical-align: top;
	height: 16px;
	width: 100%;
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background: $light-blue;
	}

	&:before {
		height: 2px;
		left: -9999px;
	}

	&:after {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		overflow: hidden;
	}
}

.decor-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	pointer-events: none;
}

.screen-block {
	box-shadow: 0 5px 30px rgba(83, 197, 238, .3);
	border: 4px solid $light-purple;
	border-radius: 2px;
	overflow: hidden;
}

nav#TableOfContents > ul {
	@extend %listreset;
}
nav.nav-holder ul {
	@extend %listreset;
	.no-results {
		margin-top: 5px;
		color: orangered;
	}
}

/* intro section styles */
.intro-section {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	padding: 16px 0;
	position: relative;

	@include media ('>=tablet') {
		text-align: left;
		padding: 37px 0;
	}

	@include media ('>=desktop') {
		font-size: 21px;
		padding: 37px 0 72px;
	}

	.row {
		@include media ('>=tablet') {
			display: flex;
		}
	}

	h1 {
		margin-bottom: 34px;
	}

	.decor-bg {
		@include media ('>=tablet') {
			min-width: 1600px;
			width: 100%;
		}
	}

	.text-holder {
		@include media ('>=tablet') {
			width: 50%;
			padding: 20px 32px 20px 0;
		}

		@include media ('>=desktop') {
			padding: 54px 64px 54px 0;
		}

		@include media ('>=widescreen') {
			width: 48%;
		}
	}

	.text-block {
		line-height: 1.55555;
		letter-spacing: .86px;
		margin-bottom: 65px;

		@include media ('>=desktop') {
			line-height: 1.33333;
			letter-spacing: 1px;
			margin-bottom: 56px;
		}

		p {
			margin-bottom: 36px;
		}
	}

	.img-holder {
		@include media ('>=tablet') {
			width: 50%;
		}

		@include media ('>=widescreen') {
			width: 52%;
		}
	}

	.screen-block {
		@include media ('>=tablet') {

			display: block;
			margin-left: auto;
			margin-right: -12vw;
			border-width: 12px;
			border-top-width: 36px;
			border-radius: 16px;
			position: relative;
			overflow: visible;
		}

		&:before,
		&:after {
			@include media ('>=tablet') {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				top: -23px;
				border-radius: 50%;
				background: $white;
			}

			@include media ('>=desktop') {
				width: 16px;
				height: 16px;
				top: -26px;
			}
		}

		&:before {
			@include media ('>=tablet') {
				left: 16px;
			}

			@include media ('>=desktop') {
				left: 12px;
			}
		}

		&:after {
			@include media ('>=tablet') {
				left: 40px;
			}

			@include media ('>=desktop') {
				left: 44px;
			}
		}

		img {
			@include media ('>=tablet') {
				display: block;
				max-width: 60vw;
				width: 100%;
				border-radius: 2px;
				overflow: hidden;
			}
		}
	}
}

/* interaction block styles */
.interaction-block {

	.heading-holder {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 8px;

		@include media ('>=tablet') {
			margin-bottom: 0;
		}
	}

	.h2 {
		display: inline-block;
		vertical-align: middle;
		font-weight: 400;
		line-height: 1.23809;
		letter-spacing: 2.11px;
		margin-bottom: 4px;
		padding: 0 20px;

		@include media ('>=phone') {
			padding: 0 54px;
		}

		@include media ('>=tablet') {
			padding: 0 35px 0 0;
		}

		.number {
			font-family: $base-font-monosnape;
			font-weight: 700;
			margin: 0 10px 0 0;
		}
	}
}

.interaction-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@include media ('>=tablet') {
		justify-content: flex-start;
		margin: 0 -8px;
	}

	li {
		padding: 0 8px 8px;
	}

	a {
		@include animate(background);

		display: inline-block;
		vertical-align: middle;
		min-width: 84px;
		font-size: 12px;
		line-height: 1.33333;
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 8px 15px 7px 45px;
		color: $white;
		background: $dark-blue;
		border: 1px solid $light-purple;
		border-radius: 3px;
		position: relative;

		&:hover {
			color: $white;
			background: $light-purple;
		}

		i {
			font-size: 16px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 15px;
		}
	}
}

/* advantages block styles */
.advantages-block {
	padding: 30px 0 15px;
	letter-spacing: .5px;
	font-weight: 500;

	@include media ('>=desktop') {
		padding: 115px 0;
	}
}

.advantages-list {
	@extend %listreset;

	@include media ('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	@include media ('>=widescreen') {
		margin: 0 -52px;
	}

	li {
		padding-bottom: 18px;

		@include media ('>=tablet') {
			width: 33.33%;
			padding: 0 15px 18px;
		}

		@include media ('>=widescreen') {
			padding: 0 52px 18px;
		}
	}

	img {
		margin-bottom: 20px;

		@include media ('>=desktop') {
			margin-bottom: 27px;
		}
	}

	h2 {
		letter-spacing: 0.86px;
		margin-bottom: 15px;

		@include media ('>=desktop') {
			font-size: 21px;
		}
	}
}

/* clients block styles */
.clients-block {

	@include media ('>=tablet') {
		padding: 30px 0;
	}

	.container {
		max-width: 1200px;
	}

	.heading-holder {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@include media ('>=tablet') {
			display: none;
		}
	}

	.h4 {
		letter-spacing: 1.38px;
		margin: 0 32px 0 0;
	}

	.decor-line {
		width: auto;

		&:before,
		&:after {
			left: 0;
		}

		&:before {
			right: -9999px;
		}

		&:after {
			right: auto;
		}
	}
}

.clients-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -15px;

	@include media ('>=widescreen') {
		margin: 0 -45px;
	}

	li {
		width: 33.33%;
		padding: 0 15px 30px;

		@include media ('>=tablet') {
			width: 20%;
			text-align: center;
		}

		@include media ('>=widescreen') {
			padding: 0 45px 30px;
		}
	}
}

/* integration section styles */
.integration-section {
	padding: 40px 0 15px;
	position: relative;

	@include media ('>=tablet') {
		text-align: center;
		padding: 40px 0;
	}

	@include media ('>=desktop') {
		padding: 16px 0 100px;
	}

	.container {
		max-width: 966px;
	}

	.decor-bg {
		position: absolute;
		top: 229px;

		@include media ('>=tablet') {
			min-width: 1280px;
			top: -21px;
		}
	}

	.heading-holder {
		display: flex;
		align-items: center;
		margin-bottom: 52px;
		position: relative;

		@include media ('>=tablet') {
			display: block;
			margin-bottom: 37px;
		}

		h3.h1 {
			margin: 0;

			@include media ('>=tablet') {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.decor-line {
			width: 35%;

			@include media ('>=tablet') {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&:before,
			&:after {
				left: 34px;
				right: auto;

				@include media ('>=tablet') {
					left: 49px;
				}
			}

			&:before {
				right: -9999px; 
			}
		}
	}
}

.integration-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	margin: 0 -7px;

	@include media ('>=tablet') {
		margin: 0 -15px;
	}

	li {
		width: 50%;
		padding: 0 7px 16px;

		@include media ('>=tablet') {
			width: 33.33%;
			padding: 0 15px 15px;
		}
	}

	.logo-holder {
		@include v-align(100px);

		height: 100%;
		padding: 10px;
		background: $dark-blue;
		box-shadow: 0 5px 9px #0d0d1a;
		border: 1px solid $dark-blue;

		@include media ('>=tablet') {
			padding: 15px 45px;
		}

		&:after {
			@include media ('>=tablet') {
				min-height: 163px;
			}
		}

		img {

			@include media ('>=tablet') {
				max-width: 80%;
				width: auto;
			}
		}
	}
}

/* main content styles */
.content {
	min-height: 100vh;
	padding: 15px 0;

	@include media ('>=tablet') {
		padding: 15px 15px 50px;
		width: calc(100% - 320px);
	}

	@include media ('>=desktop') {
		padding: 40px 20px;
	}

	@include media ('>=widescreen') {
		width: calc(100% - 422px);
		padding: 40px 34px 50px 45px;
	}

	&:only-child {
		width: 100%;
	}

	h1 {
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 0.86px;

		@include media ('>=tablet') {
			font-size: 21px;
			letter-spacing: 1px;
		}
	}

	h2 {
		margin-bottom: 13px;
	}

	p {
		margin-bottom: 29px;
	}

	pre {
		white-space: pre-line;

		@include media ('>=phone') {
			margin: 0 -16px;
		}

		@include media ('>=tablet') {
			margin: 0;
		}
	}
}

/* sidebar styles */
.sidebar {
	background: $light-gray;
	margin: 0 -15px;

	@include media ('>=phone') {
		margin: 0 -30px;
	}

	@include media ('>=tablet') {
		width: 180px;
		text-align: right;
		position: relative;
		margin: 0;
		.logo,
		.form-search {
			margin-right: 15px;
		}
	}

	@include media ('>=widescreen') {
		width: 262px;
	}

	.fixed-block {
		@include media ('>=tablet') {
			margin-top: -68px;
			padding: 15px 0 70px 0;
			position: relative;
		}

		@include media ('>=widescreen') {
			padding: 15px 33px 70px;
		}

		@include media ('>=fullscreen') {
			padding: 15px 33px 70px 15px;
		}
	}

	.nav-holder {
		display: none;
		// box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
		@include media ('>=tablet') {
			display: block;
		}
	}

	&.mobile-open .nav-holder {
		display: block;
		padding: 15px;
		margin-bottom: 15px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px, rgba(0, 0, 0, 0.02) 5px 5px 8px -4px;
		.form-search {
			padding-left: 0;
			padding-right: 0;
		}
		.logo {
			display: none;
		}
	}

	.form-search {
		margin-bottom: 25px;
		padding: 7px 15px;

		@include media ('>=tablet') {
			padding: 0;
			margin-bottom: 15px;
		}

		@include media ('>=widescreen') {
			margin-bottom: 32px;
		}
	}

	

	.search-bar {
		position: relative;

		label {
			position: absolute;
			top: 0.125rem;
			left: 0.25rem;
			font-size: 0.75rem;
			font-weight: 600;
			color: $light-blue;
			user-select: none;
		}

		input[type="search"] {
			width: 100%;
			height: 60px;
			max-width: 100%;
			margin-bottom: 0.5rem;
			padding: 0.5rem 0.5rem 0.25rem;
			font-size: 1rem;
			line-height: 1.75rem;
			background: transparent;
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.42);
			transition: all 0.2s ease-in-out;
			@include media ('>=tablet') {
				max-width: 216px;
			}
			&:focus {
				background: darken($light-gray, 5%);
				border-bottom: 2px solid $light-blue;
			}
		}
	}

	&:before {
		@include media ('>=tablet') {
			content: "";
			position: absolute;
			left: -9999px;
			top: -9999px;
			right: 0;
			bottom: 0;
			background: $light-gray;
		}
	}

	.logo {

		@include media ('>=tablet') {
			width: 147px;
			margin-left: auto;
			padding-right: 9px;
			margin-bottom: 20px;
		}

		@include media ('>=widescreen') {
			margin-bottom: 39px;
		}

		a {
			display: block;
			margin-bottom: 1px;
		}

		span {
			font-family: $base-font-monosnape;
			text-transform: uppercase;
			letter-spacing: 1.61px;
			color: $light-purple;
			font-weight: 400;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}

	ul {
		@extend %listreset;

		a {
			@include animate(color text-shadow);

			color: $dark-blue;
			text-shadow: none;
		}

		a.active {
			@include animate(color text-shadow);

			color: $light-blue;
			text-shadow: none;
		}

		li {
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.5px;
			padding-bottom: 15px;

			@include media ('>=widescreen') {
				padding-bottom: 22px;
			}

			&.active {
				& > a {
					color: $light-blue; 
					text-shadow: 0 0 0 $light-blue;
				}
			}

			&:last-child {
				padding-bottom: 0;
			}

			a {
				&:hover {
					color: $light-blue;
				}
			}

			& > ul {
				@extend %listreset;

				padding-top: 9px;

				li {
					font-size: 13px;
					font-weight: 500;
					letter-spacing: 0.5px;
					padding-bottom: 5px;

					@include media ('>=widescreen') {
						padding-bottom: 11px;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

/* aside styles */
.aside {

	@include media ('>=tablet') {
		font-size: 13px;
		width: 110px;
	}

	@include media ('>=widescreen') {
		width: 160px;
	}

	h3 {
		font-weight: 600;
		margin-bottom: 10px;
		letter-spacing: 0.62px;
	}

	.fixed-block {

		@include media ('>=tablet') {
			padding: 15px 0 70px 15px;
			position: relative;
		}

		@include media ('>=widescreen') {
			padding: 45px 0 70px 25px;
		}

		&:before {
			@include media ('>=tablet') {
				content: "";
				position: absolute;
				left: 0;
				top: 10px;
				bottom: 60px;
				width: 1px;
				background: #ccc;

				@include media ('>=widescreen') {
					top: 28px;
					bottom: 54px;
				}
			}
		}
	}

	.nav-list {

		li {
			margin-bottom: 5px;

			@include media ('>=widescreen') {
				margin-bottom: 10px;
			}
		}

		a {
			font-weight: 600;
		}
	}
}

.accessibility{
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		display: block;
		text-align: right;
		position: static;
		width: auto;
		height: auto;
	}
}

.hidden {
	position: absolute;
	left: -9999px;
	opacity: 0;
}
