<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  <head>
    {{ partial "common/html-head" . }}
    {{ partial "docs/inject/head" . }}
  </head>

  <body class="fixed-position">
    <div id="wrapper">
      {{ template "header" . }}
      <main id="main">
        <div class="container inner-container">
          <section class="intro-section">
            <h1>404 Not Found</h1>
            <a href="{{ "/" | relURL }}">Go Home</a>
          </section>
        </div>
      </main>
    </div>
    
  </body>
</html>