<section class="about-section">
  <div class="container">
    <div class="heading-holder">
      <span class="decor-line"></span>
      <h3 class="h1">Meet the team</h3>
    </div>
    <div class="about-card">
      <div class="text-holder">
        {{ with .Site.GetPage "/landing/about.md" }}{{ .Content }}{{ end }}


	<div class="center-text">
	<p><code>ingraind</code> is a proud member of the CNCF.</p>
	<img alt="CNCF Sandbox logo" src="svg/cncf-sandbox-horizontal-white.svg" width="300pt"/>
	</div>
      </div>
    </div>
  </div>
</section>
