<div class="advantages-block">
  <div class="container">
    <ul class="advantages-list">
      <li>
        <img src="svg/secure.svg" alt="image description" />
        <h2 class="h3">Secure &amp; Safe</h2>
        <p>
          Both eBPF and Rust are designed for safety and
          security. Add foniod to your systems without fear of
          instability or compromise.
        </p>
      </li>
      <li>
        <img src="svg/customize.svg" alt="image description" />
        <h2 class="h3">Customize as you Wish</h2>
        <p>
          foniod provides
          accessible <a href="/api">documentation</a> for most
          eBPF functionality so you can extend and improve the
          data you rely on.
        </p>
      </li>
      <li>
        <img src="svg/clock.svg" alt="image description" />
        <h2 class="h3">Designed for Real Life</h2>
        <p>
          Time is your most expensive asset, so
          we
          made <a href="/docs/deployment/strategies/">deployment</a>
          easy and frictionless.  Kubernetes, GCP, AWS, Arm64,
          bring your own buzzword.
        </p>
      </li>
    </ul>
  </div>
</div>