<!--
  TODO 
  make a template for this (perhaps)
-->
<section class="direction-section">
  <div class="container">
    <h1>Works with everything, everywhere</h1>
    <!-- carousel navigation -->
    <div class="carousel-nav-holder">
      <button class="prev-btn hide"><i class="icon-arrow-left"></i>arrow-left</button>
      <ul class="carousel-nav">
        <li>
          <button>Install</button>
        </li>
        <li>
          <button>Configure</button>
        </li>
        <li>
          <button>Collect</button>
        </li>
      </ul>
      <button class="next-btn hide"><i class="icon-arrow-right"></i>arrow-right</button>
    </div>
    <!-- carousel -->
    <div class="carousel">

      <!-- carousel slide element -->
      <div class="carousel-slide">
        <div class="screen-block">
          <img src="img-screen-01.jpg" alt="image description">
        </div>
        <div class="text-holder">
          <h3>IoT, cloud, containers</h2>
          <p>Choose all three with Terraform, Ansible, or Kubernetes deployments</p>
        </div>
      </div>

      <div class="carousel-slide">
        <div class="screen-block">
          <img src="josh-crop.jpg" alt="image description">
        </div>
        <div class="text-holder">
          <h3>Advanced pipelines</h2>
          <p>Gather everything, or focus on what's important</p>
        </div>
      </div>

      <div class="carousel-slide">
        <div class="screen-block">
          <img src="codedoge-crop.jpg" alt="image description">
        </div>
        <div class="text-holder">
          <h3>Bring your own backend</h2>
          <p>Collect data, or alert. Works with many backend services</p>
        </div>
      </div>

    </div>
    <a href="/docs/" class="btn">Go to documentation</a>
  </div>
  <img src="svg/bg-img-02.svg" alt="image description" class="decor-bg hide">
</section>

{{- $carouselJSFile := printf "%s.carousel.js" .Language.Lang -}}
{{- $carouselJS := resources.Get "carousel.js" | resources.ExecuteAsTemplate $carouselJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $carouselJS.RelPermalink }}" integrity="{{ $carouselJS.Data.Integrity }}"></script>
