<section class="integration-section">
  <img class="decor-bg" src="svg/bg-img-03.svg" alt="image description" />
  <div class="container">
    <div class="heading-holder">
      <h3 class="h1">Integrated with</h3>
      <span class="decor-line"></span>
    </div>
    <ul class="integration-list">
      <li>
        <div class="logo-holder">
          <img src="svg/logo-aws.svg" alt="aws" width="70" />
        </div>
      </li>
      <li>
        <div class="logo-holder">
          <img src="svg/logo-open-shift.svg" alt="openshift" width="65" />
        </div>
      </li>
      <li>
        <div class="logo-holder">
          <img src="svg/logo-terraform.svg" alt="kubernetes engine" width="60" />
        </div>
      </li>
      <li>
        <div class="logo-holder">
          <img src="svg/logo-kubernetes.svg" alt="kubernetes" width="64" />
        </div>
      </li>
      <li>
        <div class="logo-holder">
          <img src="svg/logo-statsD.svg" alt="StatsD" width="120" />
        </div>
      </li>
      <li>
        <div class="logo-holder">
          <img src="svg/logo-ansible.svg" alt="ansible" width="62" />
        </div>
      </li>
    </ul>
  </div>
</section>