<section class="intro-section">
  <img class="decor-bg hide" src="svg/bg-img-01.svg" alt="image description" />
  <div class="container">
    <div class="row">
      <div class="text-holder">
        <div class="text-block">
          <h1>eBPF for Everyone</h1>
          <p>foniod is an security monitoring agent born for the cloud. </p>
          <p>Spot misbehaving processes and containers to react immediately.</p>
          <p>Built on eBPF and Rust for easy extensibility.</p>

          <a href="/docs/getting-started" class="btn">Get started</a>
        </div>
        <!-- interaction block -->
        <div class="interaction-block">
          <div class="heading-holder"></div>
          <span class="decor-line"></span>
          <ul class="interaction-list">
            <li>
              <a
                class="github-button"
                href="https://github.com/redsift/foniod/subscription"
                data-icon="octicon-eye"
                data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                data-size="large"
                data-show-count="true"
                aria-label="Watch redsift/foniod on GitHub"
                >Watch</a
          >
            </li>
            <li>
              <a
                class="github-button"
                href="https://github.com/redsift/foniod"
                data-icon="octicon-star"
                data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                data-size="large"
                data-show-count="true"
                aria-label="Star redsift/foniod on GitHub"
                >Star</a
              >
            </li>
            <li>
              <a
                class="github-button"
                href="https://github.com/redsift/foniod/fork"
                data-icon="octicon-repo-forked"
                data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                data-size="large"
                data-show-count="true"
                aria-label="Fork redsift/foniod on GitHub"
                >Fork</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="img-holder hide">
        <div class="screen-block">
          <img src="screencast.gif" alt="image description" />
        </div>
      </div>
    </div>
  </div>
</section>