<section class="join-section">
  <div class="container">
    <h3 class="h1">Get involved</h3>
    <div class="text-holder">
      <span class="decor-left hide"><img src="svg/decor-yellow-2.svg" alt="image description"></span>
      <span class="decor-right hide"><img src="svg/decor-yellow-1.svg" alt="image description" width="548"></span>
    </div>
    <a href="https://github.com/redsift/foniod" target="_blank" rel="nofollow noreferrer" class="btn cta">
      <i class="icon-github"></i><strong>get started</strong>
    </a>
  </div>
</section>