<!-- built section -->
<section class="built-section">
  <div class="container">
    <div class="row">
      <div class="tabset-holder">
        <h1>Built for</h1>
        <!-- tabs switcher -->
        <ul class="tabset hide">
          <li><a href="#hackers">Hackers</a></li>
          <li><a href="#it-security">IT Security</a></li>
          <li><a href="#data-analysts">Analysts</a></li>
          <li><a href="#devops-cloudops">DevOps and CloudOps</a></li>
        </ul>
      </div>
      <!-- tab content and accordion -->
      <div class="tab-content accordion">
        <!-- tab element -->
        <div class="tab-info" id="hackers">
          <a class="opener" href="#hackers">Hackers <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Customize at will</strong>
                <p>Safe Rust and eBPF make it easy to tailor your monitoring to your needs</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">OSQuery integration</strong>
                <p>ingraind containers ship with OSQuery to expand your systems reporting with the gold standard</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Best in class performance due to low overhead internals based on the Rust async stack</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="it-security">
          <a class="opener" href="#it-security">IT Security <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">No change to application code</strong>
                <p>Expand your monitoring capabilities without changing your applications. Deep insights from networks and filesystems with ease.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">React immediately</strong>
                <p>ingraind can react to events immediately on events that break the rules. Shut down your server, or kill the SSH process, up to you.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Made for containers</strong>
                <p>Monitor container behaviour information straight from the orchestrator. Deploy to Kubernetes, or use Ansible and Terraform on any OS.</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="data-analysts">
          <a class="opener" href="#analysts">Analysts <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Infinite granularity</strong>
                <p>Collecting information using eBPF allows observing events like when happen, where they happen, why they happen.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">No more noise</strong>
                <p>Advanced processing pipelines allow you to filter out events that are useful, right at the source.</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="devops-cloudops">
          <a class="opener" href="#devops-cloudops">DevOps and CloudOps <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">No setup, you're good to go</strong>
                <p>Gather feedback about the internals of your infrastructure at any point in the DevOps lifecycle.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Designed to scale with you</strong>
                <p>eBPF and Rust allowed us to optimize ingraind for speed while staying safe, secure, and portable.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Secure your toolchain</strong>
                <p>Spot malicious 0-day dependencies before they cause havoc and huge bills.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{- $accordionJSFile := printf "%s.accordion.js" .Language.Lang -}}
{{- $accordionJS := resources.Get "accordion.js" | resources.ExecuteAsTemplate $accordionJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $accordionJS.RelPermalink }}" integrity="{{ $accordionJS.Data.Integrity }}"></script>
