<!-- built section -->
<section class="built-section">
  <div class="container">
    <div class="row">
      <div class="tabset-holder">
        <h1>Built for</h1>
        <!-- tabs switcher -->
        <ul class="tabset hide">
          <li><a href="#cisos">CISOs</a></li>
          <li><a href="#it-security">IT Security</a></li>
          <li><a href="#data-analysts">Data Analysts</a></li>
          <li><a href="#devops-cloudops">DevOps and Cloud Ops</a></li>
        </ul>
      </div>
      <!-- tab content and accordion -->
      <div class="tab-content accordion">
        <!-- tab element -->
        <div class="tab-info" id="cisos">
          <!-- accordion element opener -->
          <a class="opener" href="#">CISOs <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Analyze and optimize</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Implement effective</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="it-security">
          <!-- accordion element opener -->
          <a class="opener" href="#">IT Security <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quaerat nesciunt ipsam error cum, totam cumque accusamus, asperiores neque. Id soluta ex distinctio omnis veritatis obcaecati, amet officiis accusamus voluptas error temporibus optio sapiente velit qui voluptatibus voluptatem sed beatae eveniet rem asperiores ipsa architecto non suscipit, sequi numquam? Suscipit.</p>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="data-analysts">
          <!-- accordion element opener -->
          <a class="opener" href="#">Data Analysts <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quaerat nesciunt ipsam error cum, totam cumque accusamus, asperiores neque. Id soluta ex distinctio omnis veritatis obcaecati, amet officiis accusamus voluptas error temporibus optio sapiente velit qui voluptatibus voluptatem sed beatae eveniet rem asperiores ipsa architecto non suscipit, sequi numquam? Suscipit.</p>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="devops-cloudops">
          <!-- accordion element opener -->
          <a class="opener" href="#">DevOps and Cloud Ops <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <p>4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quaerat nesciunt ipsam error cum, totam cumque accusamus, asperiores neque. Id soluta ex distinctio omnis veritatis obcaecati, amet officiis accusamus voluptas error temporibus optio sapiente velit qui voluptatibus voluptatem sed beatae eveniet rem asperiores ipsa architecto non suscipit, sequi numquam? Suscipit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{- $accordionJSFile := printf "%s.accordion.js" .Language.Lang -}}
{{- $accordionJS := resources.Get "accordion.js" | resources.ExecuteAsTemplate $accordionJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $accordionJS.RelPermalink }}" integrity="{{ $accordionJS.Data.Integrity }}"></script>