<!-- built section -->
<section class="built-section">
  <div class="container">
    <div class="row">
      <div class="tabset-holder">
        <h1>Built for</h1>
        <!-- tabs switcher -->
        <ul class="tabset hide">
          <li><a href="#hackers">Hackers</a></li>
          <li><a href="#it-security">IT Security</a></li>
          <li><a href="#data-analysts">Analysts</a></li>
          <li><a href="#devops-cloudops">DevOps and CloudOps</a></li>
        </ul>
      </div>
      <!-- tab content and accordion -->
      <div class="tab-content accordion">
        <!-- tab element -->
        <div class="tab-info" id="hackers">
          <!-- accordion element opener -->
          <a class="opener" href="#">Hackers <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Customize at will</strong>
                <p>Safe Rust and eBPF make it easy to tailor your monitoring to your needs</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">OSQuery integration</strong>
                <p>ingraind containers ship with OSQuery to expand your systems reporting with the gold standard</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Best in class performance due to low overhead internals based on the Rust async stack</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="it-security">
          <a class="opener" href="#">IT Security <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Customize at will</strong>
                <p>Safe Rust and eBPF make it easy to tailor your monitoring to your needs</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">OSQuery integration</strong>
                <p>ingraind containers ship with OSQuery to expand your systems reporting with the gold standard</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Best in class performance due to low overhead internals based on the Rust async stack</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="data-analysts">
          <a class="opener" href="#">Analysts <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Customize at will</strong>
                <p>Safe Rust and eBPF make it easy to tailor your monitoring to your needs</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">OSQuery integration</strong>
                <p>ingraind containers ship with OSQuery to expand your systems reporting with the gold standard</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Best in class performance due to low overhead internals based on the Rust async stack</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- tab element -->
        <div class="tab-info" id="devops-cloudops">
          <!-- accordion element opener -->
          <a class="opener" href="#">DevOps and CloudOps <i class="icon-arrow-right"></i></a>
          <!-- accordion slide element -->
          <div class="slide">
            <ul class="info-list">
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Customize at will</strong>
                <p>Safe Rust and eBPF make it easy to tailor your monitoring to your needs</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">OSQuery integration</strong>
                <p>ingraind containers ship with OSQuery to expand your systems reporting with the gold standard</p>
              </li>
              <li>
                <i class="icon-check"></i>
                <strong class="h3">Improve security without slowing down</strong>
                <p>Best in class performance due to low overhead internals based on the Rust async stack</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{- $accordionJSFile := printf "%s.accordion.js" .Language.Lang -}}
{{- $accordionJS := resources.Get "accordion.js" | resources.ExecuteAsTemplate $accordionJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $accordionJS.RelPermalink }}" integrity="{{ $accordionJS.Data.Integrity }}"></script>
