<div id="cookie-bar" class="cookie-bar hide">
  <div class="container">
    <h3 id="cookie-heading">This site uses cookies</h3>
    <div class="cookie-content">
      <p>
        <span class="short">We’re using cookies to give you the best experience across our websites and products.
        For more information, </span>
        <!-- <span class="long hide">We’re using cookies to give you the best experience across our websites and products.
        For more information on how we use cookies and how to disable them, </span> -->
        visit our <a href="https://redsift.com/cookies" target="_blank" rel="noopener noreferrer">Cookies policy</a></p>
      <button id="cookie-button" type="button" class="btn">Accept and continue</button>
    </div>
  </div>
</div>