<footer id="footer">
  <div class="container">
    <!-- copyright -->
    <span class="copy">&copy; 2021 <a href="#">ingraind & RedBPF Contributors</a>. Documentation distributed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a></span>
    <span class="copy">The Linux Foundation® (TLF) has registered trademarks and uses trademarks. For a list of TLF trademarks, see <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a></span>
    <div class="social-block">
    {{ template "social" . }}
    </div>
  </div>
</footer>
<a class="accessibility" href="#wrapper">Back to top</a>
