<footer id="footer">
  <div class="container">
    <!-- copyright -->
    <span class="copy">&copy; 2020 <a href="#">Red Sift</a>. All rights reserved.</span>
    <div class="social-block">
      <!-- social networks -->
      <ul class="social-networks">
        <li><strong class="title">Follow</strong></li>
        <li><a href="#"><i class="icon-github"></i>github</a></li>
        <li><a href="#"><i class="icon-twitter"></i>twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
<a class="accessibility" href="#wrapper">Back to top</a>