
/* join section styles */
.join-section {
	padding: 15px 0 25px;
	position: relative;

	@include media ('>=tablet') {
		padding: 15px 0 50px;
	}

	@include media ('>=desktop') {
		padding: 83px 0 101px;
	}

	.container {
		text-align: center;

		@include media ('>=tablet') {
			max-width: 465px;
		}
	}

	.text-holder {
		max-width: 300px;
		text-align: center;
		margin: 0 auto;

		.decor-left,
		.decor-right {

			@include media ('>=tablet') {
				position: absolute;
				left: -55px;
				top: 43%;
				transform: translateY(-50%);
				width: 38%;
			}

			@include media ('>=desktop') {
				top: 50%;
				width: 40%;
			}

			@include media ('>=widescreen') {
				width: 43%;
			}

			img {
				width: 100%;
			}
		}

		.decor-right {
			@include media ('>=tablet') {
				left: auto;
				right: -46px;
				top: 37%;
			}

			@include media ('>=desktop') {
				top: 47%;
			}
		}
	}

	h1 {
		margin-bottom: 10px;
		position: relative;

		@include media ('>=tablet') {
			margin-bottom: 7px;
		}
	}

	p {
		margin-bottom: 31px;
	}
}

/* sign up form styles */
// .sign-up-form {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: stretch;

// 	input[type="email"] {
// 		width: calc(100% - 98px);
// 		border-right: none;
// 	}

// 	.btn {
// 		min-width: 98px;
// 		border-radius: 0 3px 3px 0;
// 		height: 40px;
// 		border: none;
// 	}
// }